:root{
    --BgCor: #e5e5e5;
    --FontCor: #725C5C;
    --Gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    --Branco: #ffffff;
}

body {
    background-color: var(--BgCor);
}


/* Menu fixo */
.side-menu {
    height: 100%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--Branco);
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.side-menu a {
    padding: 7px 4px 7px 24px;
    text-decoration: none;
    font-size: 25px;
    color: var(--FontCor);
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    border-bottom-style: solid;
    border-bottom-color: var(--BgCor);
    border-bottom-width: 2px;
}

.side-menu a.logo{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--Branco);
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 0%;
    background: var(--Gradient)
}

.side-menu a.ativa {
    background-color: #FDF1EB;
    border-left: 5px solid var(--Gradient);
}



/* Conteúdo principal */
.main {
    margin-left: 220px;
}


/*header */


